# Score custom registry + BCR
common --registry=https://raw.githubusercontent.com/eclipse-score/bazel_registry/main/
common --registry=https://bcr.bazel.build

# Default host toolchain
build --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build --incompatible_enable_cc_toolchain_resolution
build --incompatible_strict_action_env
build --host_platform=@score_bazel_platforms//:x86_64-linux-gcc_12.2.0-posix
build --extra_toolchains=@score_gcc_x86_64_toolchain//:x86_64-linux-gcc_12.2.0
build --extra_toolchains=@score_toolchains_rust//toolchains/ferrocene:ferrocene_x86_64_unknown_linux_gnu

# QNX x86_64 cross-compilation config
build:qnx-x86_64 --sandbox_writable_path=/var/tmp
build:qnx-x86_64 --platforms=@score_bazel_platforms//:x86_64-qnx-sdp_8.0.0-posix
build:qnx-x86_64 --extra_toolchains=@score_qcc_x86_64_toolchain//:x86_64-qnx-sdp_8.0.0
build:qnx-x86_64 --extra_toolchains=@score_qnx_x86_64_ifs_toolchain//:ifs-x86_64-qnx-sdp_8.0.0
build:qnx-x86_64 --extra_toolchains=@score_toolchains_rust//toolchains/ferrocene:ferrocene_x86_64_pc_nto_qnx800
build:qnx-x86_64 --credential_helper=*.qnx.com=%workspace%/tools/qnx_credential_helper.py
build:qnx-x86_64 --experimental_retain_test_configuration_across_testonly
test:qnx-x86_64 --test_tag_filters=microvm_qnx_test

# QNX x86_64 run_under config (runs any cc_test on QNX without cc_test_qnx wrapper)
build:run-under-qnx-x86_64 --config=qnx-x86_64
test:run-under-qnx-x86_64 --run_under=@score_qnx_unit_tests//src:run_under_qnx
test:run-under-qnx-x86_64 --test_tag_filters=
test:run-under-qnx-x86_64 --test_lang_filters=cc,rust

# QNX aarch64 cross-compilation config
build:qnx-aarch64 --sandbox_writable_path=/var/tmp
build:qnx-aarch64 --platforms=@score_bazel_platforms//:aarch64-qnx-sdp_8.0.0-posix
build:qnx-aarch64 --extra_toolchains=@score_qcc_aarch64_toolchain//:aarch64-qnx-sdp_8.0.0
build:qnx-aarch64 --extra_toolchains=@score_qnx_aarch64_ifs_toolchain//:ifs-aarch64-qnx-sdp_8.0.0
build:qnx-aarch64 --extra_toolchains=@score_toolchains_rust//toolchains/ferrocene:ferrocene_aarch64_unknown_nto_qnx800
build:qnx-aarch64 --credential_helper=*.qnx.com=%workspace%/tools/qnx_credential_helper.py
build:qnx-aarch64 --experimental_retain_test_configuration_across_testonly
test:qnx-aarch64 --test_tag_filters=microvm_qnx_test

# QNX aarch64 run_under config (runs any cc_test on QNX without cc_test_qnx wrapper)
build:run-under-qnx-aarch64 --config=qnx-aarch64
test:run-under-qnx-aarch64 --run_under=@score_qnx_unit_tests//src:run_under_qnx
test:run-under-qnx-aarch64 --test_tag_filters=
test:run-under-qnx-aarch64 --test_lang_filters=cc,rust

# Test output
test --test_output=errors
